.banner {
    height: 357px;
    background-image: url('images/bandeau.webp');
    background-size: cover; 
    background-position: center; 
    width: 100%;
    color: white; 
}
.banner::before {
  content: "";
  position: absolute ;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5); /

}


html, body {
    height: 100%; /* Pour que l'élément <html> et <body> occupent 100% de l'écran */
    margin: 0; /* Supprime les marges par défaut */

}

header {
    height: 170px;
    display: flex;
    position: relative;
    z-index: 1; 
    gap: 80px;
    text-align: right;
   
}

.logo {
    width: 25%;
    height: 100px;
    padding: 50px 0px 0px 0px;
    position: relative; 
    z-index: 2; 
    
}

.menu {
    width: 75%;
    justify-content: space-around;
    align-items: center;
    height: 100px;
   
}

.menu ul {
    list-style-type: none;
    padding: 50px 0px 0px 0px;
    
    
}

.menu  h1{
    color: white;
    font-size: 10px;
    
    
}

.menu ul li {
    margin-right: 20px;
    float: left;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-family:inherit ;
    line-height: normal;color: white; 
    color: white; 
}

.menu ul li button{
  border: none;
  height: 40px;
  width:11vh ;
  background-color: #ffdb60;
  color: #1b1c20;
  font-family:sans-serif;
  font-size:16px;
  box-shadow: 0 0 10px rgba(255, 219, 96, 0.8);
 
    
}

.menu ul li button a:hover{
  background-color: yellow;
    
}

header .menu ul li a:hover {
  color: #ffdb60; 
  box-shadow: 0 0 10px rgba(255, 219, 96, 0.8); 
}

.cover h1{
   font-size: 17px;
   z-index: 2;
   margin-top: 50px;
   font-family: sans-serif;
}

.cover{
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  z-index: 2;
  position: relative;
}

.contenair1{
  height: 1280px;
  background-color: #1b1c20;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('images/empreinte1.webp');
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 500px;
  
  
  
}


.cont1{
  width: 70%;
  height:200px;
  margin-top: 45px;

}

.cont1 h1{
  font-size: 15px;
  font-family: sans-serif;
  color: #ffffff;

}

.cont1 h2{
 color: white;
 font-size: 50px;
 font-family: Inter, Arial, Tahoma, Verdana, Helvetica, sans-serif;  
 letter-spacing: normal; 
 margin-bottom: -500;
 text-align: center;
}

.contenair2{
  height: 1200px;
  background-color: #1b1c20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.back {
    background: url('images/main-background.webp'), lightgray 0px 1096.537px / 100% 51.801% no-repeat;
    background-size: cover; 
    background-position: center; 
    color: white; 
    height: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer{
     height: 600px;
     display: flex;
     background-color: #5F5F5F;
}
.p1{

    width: 15%;
    background-image: url('images/empreinte2.png');
    background-color: #1b1c20;
    position: relative;
    height: 100%;
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    background-position: top;

}

.p2 {
    width: 85%;
    height: 600px;
    background-color: #1b1c20;
    display: flex;
    flex-direction: column; 
   
}

.p21 {
    width: 100%;
    height: 245px;
    margin-bottom: 20px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0px 0px 0px;
}
.p211 {
    width: 25%;
    height: 200px;
     padding: 50px 0px 0px 0px;
     
    
    
}
.p211 p{
    font-size: 15px;
    font-family: inherit    ;
    color: #5f5f5f;
    
    
}

.navigation{
    font-size: 30px;
    font-family: inherit ;
    color: white;

    
    
}


.p22 {
    width: 100%;
    height: 245px;
    margin-bottom: 20px; 
    padding: 70px 0px 0px 0px ;
}


.logofooter {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
   
}

.textfooter {
  width: 90%;
  height: 100px;
  background-color: #1c191a;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

    
    


.textfooter p{
    font-size: 11px;
    width: 80%;
    font-family: inherit    ;
    color: #5f5f5f;
    padding: 20px 0px 0px 0px;
    line-height:11.5px;
    letter-spacing: normal;
    FONT-FAMILY Inter,: Arial, Tahoma, Verdana, Helvetica, sans-serif    ;
    LINE-HEIGHT: 22.4px    ;
    TEXT-ALIGN:center    ;
    LETTER-SPACING:normal    ;


}
.nav1{
    
    height: 150px;

   
}

 
.nav2{
    
    height: 150px;
    
   
}

.nav{
    display: flex;
    width: 100%;
    height: 150px;
    
}
.nav ul{

    width: 100%;
    height: 150px;
    list-style-type: square;
        
}

.nav ul li a {
   text-decoration: none;
   color: white;
   font-family: inherit;
   font-size: 11px;
}
.nav ul li a:hover {
  color: #ffdb60; 
  box-shadow: 0 0 10px rgba(255, 219, 96, 0.8); 
}

   .nav li  {
  text-align: left;
  }

  .icones i {
  margin-right: 10px; 
  color: white;

  

  }

  .icones button{
   background-color: #1c191a;
   height: 40px;
   width: 40px;
   border: none;
   box-shadow: white;
  

  }

  .icones button a i:hover{
   box-shadow: 0 0 10px rgba(255, 219, 96, 0.8)
   
  

  }



.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
}

.image {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.image img {
    max-width: 100%;
    height: ;
    display: block;
}

























