.banner {
    height: 700px;
    background-image: url('images/bandeau.webp');
    background-size: cover; /* L'image couvrira toute la bannière */
    background-position: center; /* Centre l'image horizontalement et verticalement */
    width: 100%;
    

}
html, body {
    height: 100%; /* Pour que l'élément <html> et <body> occupent 100% de l'écran */
    margin: 0; /* Supprime les marges par défaut */

}

header {
    height: 100px;
    display: flex;
   
}

.logo {
    width: 25%;
    height: 100px;
    padding: 50px 0px 0px 0px;
    margin: 0px 100px 0px 0px;
    background-color: rgba(247, 255, 90, 0.759);
    
}

.menu {
    width: 75%;
    justify-content: space-around;
    align-items: center;
    height: 100px;
   
}

.menu ul {
    list-style-type: none;
    padding: 50px 0px 0px 0px;
    
    
}

.menu  h1{
    color: white;
    font-size: 10px;
    
    
}

.menu ul li {
    margin-right: 20px; /* Ajoutez un espacement entre les éléments de la liste si nécessaire */
    float: left;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.menu1 ul li a.active {
  color: yellow; /* Couleur du texte pour le menu actif */
}

footer{
     height: 500px;
     display: flex;
     background-color: gray;
}
.p1{

    width: 14%;
    height: 330px;
    background-image: url('images/empreinte2.png');
    background-color: gray;
    position: relative;
    height: 100%;
    width: 100%px;
    background-size: cover; 
    background-repeat: no-repeat; 
}

.p2{

    width: 80%;
    height: 330px;
    background-color: gray;
  
}
































